
.discussion-editor {
  position: relative;
}

.discussion-editor-draft {
  background-color: lightyellow;
}

.discussion-actions {
  font-style: italic;
  background-color: white;
  position: absolute;
  z-index:  1;
  top: 0;
  right: 0;
  padding: 0 5px;
}

/* Component of same name will be renamed */
.sentence-meta {
  user-select: none;
  padding-right: 5px;
  padding-top: 2px;
  height: 100%;
  width: 100%;
  font-size: 10pt;
}

.sentence-index {
  font-family: Comic Sans;
  user-select: none;
  font-weight: bold;
  padding-right: 5px;
}

.indicator {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding-right: 5px;
  display: inline-block;
}

.synced {
  background-color: #0f9960;
}

.unsynced {
  background-color: crimson;
}
