
.discussion-editor {
  position: relative;
}

.discussion-editor-draft {
  background-color: lightyellow;
}

.discussion-actions {
  font-style: italic;
  background-color: white;
  position: absolute;
  z-index:  1;
  top: 0;
  right: 0;
  padding: 0 5px;
}

/* Component of same name will be renamed */
.sentence-meta {
  user-select:  none;
  font-family: Comic Sans;
  font-weight: bold;
  padding-right: 5px;
  height: 100%;
  width: 100%;
}
