
@media (prefers-color-scheme: dark) {
  [data-amplify-color-mode='system'] {
    --amplify-colors-background-primary: black;
  }
}

[data-amplify-color-mode='dark'] {
  --amplify-colors-background-primary: black;
}

.navbar {
  background-color: var(--amplify-colors-background-primary);
  width: 100px;
  user-select: none;
}
